.table {
  overflow-x: auto;
  overflow-y: auto;
  display: block;
  padding-bottom: 3ch;
  max-height: 50rem;
  
}

.table th, .table td {
  width: 10rem;
  border: 1px solid rgb(0,0,0);
}

.table th {
  background-color: rgb(250, 248, 248);
  border: 2px solid rgb(0, 0, 0);

  padding: .1ch;
  font-size: 1.7ch;
  position: sticky;
  top: 0;
  z-index: 3; /* Ensure table headers stay on top */
}

.table td {
  border-right: solid rgb(0, 0, 0) 1px;
  padding: .5ch;
  text-align: center;
  background-color: rgb(255, 255, 255);
}

.table caption {
  font-size: 1.2rem;
  padding: 1ch;
  margin-bottom: .2ch;
  text-align: center;
  font-weight: 400;
  text-decoration: underline;
  text-underline-offset: 9px;
}

.stickyTopHeader {
  position: sticky;
  top: 0;
  z-index: 3; /* Ensure sticky header has the highest z-index */
  background-color: rgb(255, 255, 255);
}

.stickyLeftColumn1 {
  position: sticky;
  left: 0;
  z-index: 4;
  background-color: rgb(250, 248, 248);
}

.stickyLeftColumn2 {
  position: sticky;
  left: 60px; /* Adjust based on your column width */
  z-index: 4;
  background-color: rgb(250, 248, 248);
}

.Minitable {
  overflow-x: auto;
  overflow-y: auto;
  display: block;
  max-height: 30rem;
}

.Minitable th, .Minitable td {
  width: 10rem;
}

.Minitable th {
  background-color: rgba(145, 233, 177, 0.417);
  border: 1px solid rgb(146, 146, 146);
  padding: .1ch;
  font-size: 1.4ch;
  position: sticky;
  top: 0;
  z-index: 1; /* Ensure mini-table headers are below main table headers */
}

.Minitable td {
  border-right: solid rgb(0, 0, 0) 1px;
  padding: .5ch;
  text-align: center;
  background-color: rgb(185, 172, 192);
}

.Minitable caption {
  font-size: 1.2rem;
  padding: 1ch;
  margin-bottom: .2ch;
  text-align: center;
  font-weight: 400;
  text-decoration: underline;
  text-underline-offset: 9px;
}

.Minitable tr:nth-child(2n) td {
  background-color: rgba(187, 234, 245, 0.358) !important;
  border-right: solid rgb(0, 0, 0) 1px;
  border-left:solid rgb(0, 0, 0) 1px ;
}

.Minitable tr:nth-child(3n) td {
  background-color: rgba(246, 207, 246, 0.399) !important;
  border-left: 2px solid rgb(0, 0, 0);
}

.table tr:nth-child(2n) td {
  background-color: rgb(224, 224, 224);
}
