 
  .table {
    overflow-x: auto;
    overflow-y: auto;
    display: block;
    padding-bottom: 3ch;
    max-height: 30rem;
  }

  
  .table th, .table td {
    width: 10rem;
  }
  
  .table th {
    background-color: rgb(250, 248, 248);
    border: 1px solid rgb(146, 146, 146);
    padding: .1ch;
    font-size: 1.4ch;
  }
  
  .table td {
    border-right: solid rgb(216, 216, 216) 1px;
    padding: .5ch;
    text-align: center;
    background-color: rgb(255, 255, 255);
  }

  
  .table caption {
    font-size: 1.2rem;
    padding: 1ch;
    margin-bottom: .2ch;
    text-align: center;
    font-weight: 400;
    text-decoration: underline;
    text-underline-offset: 9px;
  }

  .table td:first-child, .headerSticky{
    position: sticky;
    left: 0;
    border: 1px solid rgb(138, 135, 135) !important;
    z-index: 1;
  }



  .stickyTopHeader {
    position: sticky;
    top: 0;
    z-index: 1;
  }





  .sticky th {
    border: 1px solid gray;
  }
  
  .table tr:nth-child(2n) td {
    background-color: rgb(218, 218, 218);
  }

