.menuContainer {
  padding: 2ch;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar los elementos horizontalmente */
  gap: 1ch;
}

.inputMenu {
  display: flex;
  flex-direction: column;
  background-color: rgb(253, 253, 253);
  border: 1px solid rgb(199, 199, 199);
  width: auto; /* Ajuste del ancho automático */
  max-width: 100%; /* Asegurarse de que no se desborde */
}

.inputsContainer {
  align-content: center;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.submitButton {
  background-color: rgb(74, 115, 252);
  border: 0;
  border-radius: 1ch;
  margin: 1ch;
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  gap: 1ch;
  align-items: center;
  color: rgb(212, 212, 212);
  width: 40ch;
  align-self: center;
}

.submitButton[disabled] {
  background-color: rgb(61, 61, 61);
}

.submitButton:not([disabled]):hover {
  cursor: pointer;
  background-color: rgb(19, 0, 105);
}

.submitButton::before, .submitButton::after {
  font-family: 'Material Icons';
  font-size: 2ch;
  content: 'casino';
  filter: opacity(0.8);
}

.loadingScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 200;
  font-size: 2rem;
}

.loader {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 20px auto;
}

.loader span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.fieldsetProbabilidades {
  display: flex;
  flex-direction: column;
  padding: 1ch;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 1ch;
}

.fieldsetProbabilidades .row {
  display: flex;
  justify-content: space-between;
  gap: 1ch;
  margin-bottom: 1ch;
}

.fieldsetProbabilidades .column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.fieldsetProbabilidades .column > div {
  margin-bottom: 1ch;
}

/* Menu.module.css */
.errorMessage {
  background-color: #f8d7da;
  color: #721c24;
  border: 4px solid #f5c6cb;
  border-radius: 8px; /* Aumenté el radio del borde */
  padding: 20px; /* Aumenté el padding */
  margin: 20px 0;
  display: flex;
  align-items: center;
  font-size: 1.5em; /* Aumenté el tamaño del texto */
}

.errorMessage::before {
  content: '';
  display: inline-block;
  width: 48px; /* Aumenté el ancho del icono */
  height: 48px; /* Aumenté la altura del icono */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23721c24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 9v2m0 4h.01M21.97 12A10 10 0 1 1 12 2.03 10 10 0 0 1 21.97 12z"/></svg>');
  background-size: contain;
  margin-right: 15px; /* Ajusté el margen derecho */
}

.errorMessageText {
  font-weight: bold;
  font-size: 1.5em; /* Aumenté el tamaño del texto */
}
