.resultScreen {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(219, 219, 219);
  padding: 1ch;
  justify-items: center;
  width: 100%;
}

.resultScreen header {
  display: flex;
  flex-direction: row;
  padding-bottom: 1ch;
  border-bottom: 5px solid rgb(171, 202, 228);
}

.resultHeader {
  text-align: start;
  font-size: 1.6rem;
  padding-bottom: 8px;
  color: gray;
}

.mainScreen {
  text-align: start;
}

.resultScreen {
  display: flex;
  flex-direction: column;
}

.probabilityTables {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: auto;
  justify-content: center;
}

.tableWrapper {
  margin-top: 2ch;
}

.Button {
  margin: 1ch;
  padding: 10px 10px; /* Ajustar el padding horizontal para que el botón sea menos ancho */
  background-color: #4366b9; /* Color de fondo */
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
  font-size: 16px; /* Tamaño de la fuente */
  cursor: pointer; /* Cursor de puntero */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transiciones */
}

.Button:hover {
  background-color: #6288c9; /* Color de fondo al pasar el ratón */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1); /* Sombra al pasar el ratón */
}
